/*
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
*/


/*Reset HTML*/

body {
    box-sizing: border-box;
    /* para que no se modifique fuera de mi caja */
    margin: 0;
    padding: 0;
}


/* Reusable class*/

.text-uppercase {
    text-transform: uppercase;
}

/***to do the star icon details of the main titles sections***/
.star-icon::before {
    content: '';
    width: 10%;
    height: 5px;
    display: inline-block;
    margin-right: 10px;
    transform: translateY(-150%);
}

.star-icon::after {
    content: '';
    width: 10%;
    height: 5px;
    display: inline-block;
    margin-left: 10px;
    transform: translateY(-150%);
}


/* Menu Navigation Section */

header {
    /*outline: 1px solid yellow;*/
    background: #2c3e50;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3333;
    margin: 0 auto;
    /*** To do the efect increase-reduce nav***/
    transition: all 2s ease-in-out;
}
    /*** To do the efect increase-reduce nav***/
header:hover {
    height: 120px;
    transform: scale(1.05);
}


.left-nav {
    /*outline: 1px solid white;*/
    /*float: left;*/
    display: inline-block;
    position: absolute;
    left: 130px;
}

.left-nav h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 0;
}

.left-nav h2:hover {
    cursor: pointer;
}

.rigth-nav {
    /*outline: 1px solid red;*/
    /*float: right;*/
    transform: translateY(50%);
    display: inline-block;
    position: absolute;
    right: 130px;
}

.rigth-nav ul li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
    list-style: none;
}

.rigth-nav ul li a {
    color: #fff;
    font-family: font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.rigth-nav a:hover {
    cursor: pointer;
    color: #18bc9c;
}


/* Box Introduction Section */

.box-introduction {
    /*outline: 1px solid red;*/
    background: #18bc9c;
    color: #fff;
    display: block;
    height: 100vh;
    padding-top: 170px;
    padding-bottom: 100px;
    text-align: center;
}


/*
.box-introduction i::before {
/* background-color: #fff;
 width: 10px;
 display: inline-block;
 height: 1px;
} */

.box-introduction h1 {
    /*outline: 1px solid yellow;*/
    font-family: 'Montserrat', sans-serif;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 1px;
    padding-bottom: 5px;
    margin-top: 25px;
}

.box-introduction .star-icon::before {
    background-color: #fff;
}

.box-introduction .star-icon::after {
    background-color: #fff;
}

.box-introduction span {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
}


/* Portfolio Section */

.portfolio {
    /*outline: 1px solid blue;*/
    background: #fff;
    color: #000;
    display: block;
    height: 120vh;
    padding-top: 40px;
    padding-bottom: 100px;
    text-align: center;
}

.portfolio h2 {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 54px;
    font-weight: 900;
    margin-bottom: 5px;
}

.portfolio .star-icon::before {
    background-color: #000;
    color: #000;
}

.portfolio .star-icon::after {
    background-color: #000;
    color: #000;
}

.portfolio figure {
    /*outline: 1px solid orange;*/
}

.portfolio img {
    width: 30%;
    margin: 10px;
    /* background: transparent; */
    background: #fff;
    box-sizing: border-box;
    z-index: 1;
    
    /* -webkit-transition:all .6s ease; */
}

.portfolio img:hover {
    cursor: pointer;
    /* transition: .5s; */
    box-sizing: border-box;
    background: #18bc9c; 
    /*** To do the efect***/
    opacity: .5;
    transition: background-color .5s ease-in-out;
}

/* About Section */

.about {
    /*outline: 1px solid red;*/
    background: #18bc9c;
    color: #fff;
    display: block;
    height: 100vh;
    padding-top: 40px;
    padding-bottom: 100px;
    text-align: center;
}

.about h2 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 54px;
    font-weight: 900;
    margin-bottom: 5px;
}

.about .star-icon::before {
    background-color: #fff;
    color: #fff;
}

.about .star-icon::after {
    background-color: #fff;
    color: #fff;
}

.about .colums p {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    display: inline-block;
    width: 25%;
    padding: 20px;
    text-align: left;
    vertical-align: top;
    line-height: 1.5;
}


/*.about .button {
  outline: 1px solid green;
  margin: 0 auto;
  padding: 0 auto;
  display: block;
  text-align: center;
  vertical-align: middle;
  transform: translateX(50%);

}*/

.button-download {
    /* outline: 1px solid red; */
    background: #18bc9c;
    color: #fff;
    border-radius: 10px;
    border-style: solid;
    font-size: 18px;
    height: 35px;
    width: 180px;
    box-sizing: content-box;
    text-align: center;
    padding-top: 14px;
    /* margin-bottom: 10px; */
    display: inline-block;
}

.button-download:hover {
    cursor: pointer;
    background: #fff;
    color: #18bc9c;
}


/* Contact me Section */

.contact {
    /*outline: 1px solid blue;*/
    background: #fff;
    display: block;
    height: 130vh;
    padding-top: 40px;
    padding-bottom: 100px;
    text-align: center;
}

.contact h2 {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 54px;
    font-weight: 900;
    margin-bottom: 5px;
}

.contact .star-icon::before {
    background-color: #000;
    color: #000;
}

.contact .star-icon::after {
    background-color: #000;
    color: #000;
}

form {
    background: #fff;
    width: 734px;
    margin: 0px auto;
    text-align: center border: none;
}

form input {
    width: 734px;
    height: 100px;
    color: #868e96;
    padding-left: 5px;
    text-align: left;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    border: none;
    border-bottom: 0.5px solid #e6e8ea;
}

form textarea {
    width: 734px;
    height: 200px;
    color: #868e96;
    padding-left: 5px;
    padding-top: 20px;
    text-align: left;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    border: none;
    border-bottom: 0.5px solid #e6e8ea;
}

form button {
    /*outline: 1px solid red;*/
    background: #18bc9c;
    color: #fff;
    border-radius: 10px;
    border-style: none;
    font-weight: 500;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    height: 45px;
    width: 75px;
    margin-top: 20px;
    text-align: center;
    float: left;
}

button:hover {
    background: #13957b;
}


/* Footer Section */

footer {
    /*outline: 1px solid blue;*/
    background: #2c3e50;
    color: #fff;
    display: block;
    height: 40vh;
    padding-top: 40px;
    padding-bottom: 10px;
    margin: 0 auto;
}


/* Titles-footer Section */

.titles-footer {
    /*outline: 1px solid red;*/
    text-align: center;
}

.location,
.social-web,
.about-freelancer {
    /* outline: 1px solid red; */
    display: inline-block;
    width: 25%;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: top;
    box-sizing: border-box;
}

.social-web {
    padding-left: -20px;
    text-align: center;
}

.social-icons {
    /*outline: 1px solid red;*/
    width: 15% auto;
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
    position: relative;
    /* left: 10px; */
    right: 20px;
    /* float: left; */
    

}

.social-icons ul li {
    /* outline: 1px solid green; */

    list-style: none;
    display: inline-block;
    border: 1px solid #fff;
    /* background: red; */
    border-radius: 50%;
    box-sizing: content-box;
    /* margin-left: 3px;
    margin-right: 3px; */
    margin: 0px auto;
    text-align: center;
    width: 35px;
    height: 35px;
    /* float: left; */
}

.social-icons ul li i {
    transform: translateY(50%);
    
}



.social-icons ul li :hover {
    cursor: pointer;
    color: #18bc9c;
    background: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

footer h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

footer p,
footer a {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

footer a {
    color: #18bc9c;
    text-decoration: none;
}

footer a:hover {
    /* color: #18bc9c; */
    cursor: pointer;
    touch-action: manipulation;
    text-decoration: underline;
}


/* Copyright Section */

.copyright p {
    /*outline: 1px solid yellow;*/
    text-align: center;
    font-size: 14px;
    transform: translateY(50%);
}